---
import { useTranslations } from "../i18n/utils";

const t = useTranslations(Astro.url.pathname);
---

<div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
  <a href="/" class="text-blue-500 hover:underline mb-4 inline-block">{t('impressum.back')}</a>
  <h1 class="text-3xl font-bold mb-4">{t('impressum.title')}</h1>
  <p class="mb-4">{t('impressum.section1')}</p>
  <p class="mb-4">
    <strong class="font-semibold">Tristan Teufel</strong><br />
    Seestr.2 <br />
    77815 Bühl <br />
  </p>
  <p class="mb-4">
    <strong class="font-semibold">{t('impressum.contact')}</strong><br />
    {t('impressum.phone')}: +49 (0) 17647544166<br />
    E-Mail: info@ki-agent.ai<br />
  </p>
  <p class="mb-4">
    <strong class="font-semibold">{t('impressum.responsible')}</strong><br />
    Tristan Teufel<br />
    Seestr.2<br />
    77815 Bühl<br />
  </p>
  <p class="mb-4">
    <strong class="font-semibold">{t('impressum.disclaimer')}</strong><br />
    <strong class="font-semibold">{t('impressum.disclaimer_content')}</strong><br />
    {t('impressum.disclaimer_text')}
  </p>
  <p class="mb-4">
    <strong class="font-semibold">{t('impressum.links')}</strong><br />
    {t('impressum.links_text')}
  </p>
  <p class="mb-4">
    <strong class="font-semibold">{t('impressum.copyright')}</strong><br />
    {t('impressum.copyright_text')}
  </p>
</div>