---
import { useTranslations } from "../../i18n/utils";

const t = useTranslations(Astro.url.pathname);
---

<section id="contact" class="py-12 bg-gray-200">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-6">{t("contact.header")}</h2>
    <p class="text-lg md:text-xl max-w-xl mx-auto mb-6">
      {t("contact.title")}
    </p>
    <form
      action="https://formspree.io/f/mpwqnkwl"
      method="POST"
      class="max-w-xl mx-auto"
    >
      <div class="mb-4">
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none"
          required
        />
      </div>
      <div class="mb-4">
        <input
          type="email"
          name="email"
          placeholder="E-Mail"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none"
          required
        />
      </div>
      <div class="mb-4">
        <textarea
          name="message"
          placeholder="Nachricht"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none"
          rows="4"
          required></textarea>
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded font-semibold cursor-pointer"
        type="submit"
      >
        {t("contact.button")}
      </button>
    </form>
  </div>
</section>
