---
import { Image } from "astro:assets";
import kiWorkflow from "../../assets/images/ki-workflow.png";
import { useTranslations } from "../../i18n/utils";

const t = useTranslations(Astro.url.pathname);
---

<section class="py-12 bg-gray-100">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-6">
        {(t("workflow.title"))}
      </h2>
      <Image
        src={kiWorkflow}
        alt="Automations-Workflow"
        width={1200}
        quality={80}
        format="webp"
        class="mx-auto w-full max-w-screen-md rounded shadow"
      />
    </div>
  </section>